.nav-wrapper ul {
  padding: 10px;
}

.nav-wrapper {
  width: 100%;
  background-color: $black-2;
  color: $white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;

  .links {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}
