.square {
  height: ($base-spacing * 8);
  width: ($base-spacing * 8);
  border: 5px solid $black;
  background-color: #FFF;
  font-size: ($base-spacing * 4);
}

@media (min-width: 768px) {
  .square {
    height: ($base-spacing * 8);
    width: ($base-spacing * 8);
    border: 5px solid $black-2;
    background-color: #FFF;
  }
}

@media (max-width: 768px) {
  .square {
    height: ($base-spacing * 6);
    width: ($base-spacing * 6);
    border: 5px solid $black-2;
    background-color: #FFF;
  }
}

.square:focus {
  outline: 0;
}

._6, ._7, ._8 {
  border-bottom: none;
}

.square.active {
  box-shadow: inset 0 0 10px;
}

.board {
  border: 5px solid $white;
  overflow: hidden;
}

.inner-board-wrapper {
  margin: -5px;
}
