.board-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  max-width: 700px;
}

.slot {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: lightblue;
  padding: 10px;
}

.piece {
  background: lightgrey;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.piece.black {
  background: #000;
}

.piece.red {
  background: red;
}

.entry:hover {
  background-color: blue;
  cursor: pointer;
}