.board-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-row {
  display: flex;
}

button {
  font-size: 100px;
}

.hud {
  margin-bottom: 25px;
}
